@mixin standart-block-item {
    width: 682px;
    height: 367px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
     p { 
        font-family: $FontYellowtail;
        color: $colorGreen;
        font-size: 2.25rem;
        margin-left: 65px;
     }

     article {
        font-family: $fontRoboto;
        color: $colorBlue;
        font-size: 2.5rem;
        margin-left: 65px;
     }
}




